<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/colorPrimary"
   >

  <android.support.v7.widget.Toolbar xmlns:android="http://schemas.android.com/apk/res/android"
      android:id="@+id/toolbar"
      android:layout_width="match_parent"
      android:layout_height="56dp"
      android:background="@color/colorPrimary"
      android:gravity="center">

    <TextView
        android:id="@+id/tvToolBarTitle"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_gravity="start"
        android:gravity="start"
        android:text="Security Movement"
        android:textColor="#FFFFFF"
        android:textColorHint="#FFFF"
        android:textSize="20dp"
        android:textStyle="bold" />

  </android.support.v7.widget.Toolbar>

  <android.support.v7.widget.RecyclerView
      android:layout_below="@+id/toolbar"
      android:id="@+id/recycler_view"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:layout_margin="@dimen/activity_horizontal_margin"
      android:scrollbars="vertical">

  </android.support.v7.widget.RecyclerView>

  <ImageView
      android:id="@+id/sorry"
      android:layout_width="150dp"
      android:layout_height="150dp"
      android:layout_centerInParent="true"
      android:src="@drawable/sorry" />

</RelativeLayout>
