<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/colorPrimary">
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="match_parent"
        android:layout_height="56dp"
        android:background="@color/colorPrimary"
        android:gravity="center">
        <TextView
            android:id="@+id/tvToolBarTitle"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="start"
            android:gravity="start"
            android:text="INITIAL PUBLIC OFFERING"
            android:textColor="#FFFFFF"
            android:textColorHint="#FFFF"
            android:textSize="20dp"
            android:textStyle="bold" />
    </android.support.v7.widget.Toolbar>
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_alignParentBottom="true"
        android:layout_alignParentLeft="true"
        android:layout_alignParentStart="true"
        android:layout_below="@id/toolbar"
        android:layout_marginTop="@dimen/activity_horizontal_margin"
        android:paddingBottom="@dimen/activity_vertical_margin"
        android:paddingLeft="@dimen/activity_horizontal_margin"
        android:paddingRight="@dimen/activity_horizontal_margin">
        <RelativeLayout
            android:id="@+id/personalDetails"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginBottom="@dimen/activity_horizontal_margin"
            android:background="@drawable/splash_shape">
            <TextView
                android:textColor="#048037"
                android:id="@+id/cd_header"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:gravity="center_vertical"
                android:padding="@dimen/activity_horizontal_margin"
                android:text="Order Details" />
            <View
                android:id="@+id/sep"
                android:layout_width="match_parent"
                android:layout_height="1dp"
                android:layout_below="@+id/cd_header"
                android:background="#048037" />
            <RelativeLayout
                android:id="@+id/rlInner"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/sep"
                android:padding="@dimen/activity_horizontal_margin">
                <TextView
                    android:textColor="#fce237"
                    android:id="@+id/selectCompany"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:text="Select Company" />
                <Spinner
                    android:id="@+id/spCompanies"
                    android:layout_width="match_parent"
                    android:layout_height="40dp"
                    android:layout_below="@+id/selectCompany"
                    android:layout_marginBottom="@dimen/activity_horizontal_margin"
                    android:gravity="start"
                    android:spinnerMode="dropdown" />
                <TextView
                    android:textColor="#fce237"
                    android:id="@+id/selectSecurity"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_below="@+id/spCompanies"
                    android:text="Select Security" />
                <Spinner
                    android:id="@+id/spSecurities"
                    android:layout_width="match_parent"
                    android:layout_height="40dp"
                    android:layout_below="@+id/selectSecurity"
                    android:layout_marginBottom="@dimen/activity_horizontal_margin"
                    android:gravity="start"
                    android:spinnerMode="dropdown" />
            <!--<TextView-->
            <!--android:id="@+id/init_price"-->
            <!--android:layout_width="match_parent"-->
            <!--android:layout_height="wrap_content"-->
            <!--android:layout_below="@+id/spSecurities"-->
            <!--android:text="Initial Price ($)" />-->
                <android.support.design.widget.TextInputLayout
                    android:id="@+id/input_layout_qty"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_below="@+id/spSecurities"
                    android:clipToPadding="false"
                    android:textColor="#fce237"
                    android:textColorHint="#fce237">
                    <EditText
                        android:id="@+id/etQuantity"
                        android:layout_width="match_parent"
                        android:layout_height="40dp"
                        android:layout_below="@+id/spBroker"
                        android:layout_marginBottom="@dimen/activity_horizontal_margin"
                        android:hint="Enter Quantity"
                        android:inputType="number"
                        android:padding="8dp"
                        android:textColor="#fce237" />
                </android.support.design.widget.TextInputLayout>
                <android.support.design.widget.TextInputLayout
                    android:id="@+id/input_layout_password"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_below="@+id/input_layout_qty"
                    android:clipToPadding="false"
                    android:textColor="#fce237"
                    android:textColorHint="#fce237">
                    <EditText
                        android:id="@+id/etPrice"
                        android:layout_width="match_parent"
                        android:layout_height="40dp"
                        android:hint="Initial Price ($)"
                        android:inputType="numberDecimal"
                        android:padding="8dp"
                        android:textColor="#fce237" />
                </android.support.design.widget.TextInputLayout>
                <Button
                    android:id="@+id/btnPost"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_below="@+id/input_layout_password"
                    android:layout_marginTop="@dimen/activity_horizontal_margin"
                    android:background="@drawable/button_selector"
                    android:padding="@dimen/activity_horizontal_margin"
                    android:text="POST" />
            </RelativeLayout>
        </RelativeLayout>
    </ScrollView>
</RelativeLayout>