<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:background="#FFFFFF"
    p1:focusable="true"
    p1:focusableInTouchMode="true"
    p1:paddingBottom="@dimen/activity_vertical_margin"
    p1:paddingLeft="@dimen/activity_horizontal_margin"
    p1:paddingRight="@dimen/activity_horizontal_margin"
    p1:paddingTop="@dimen/activity_vertical_margin"
    p1:id="@+id/relativeLayout1">
    <LinearLayout
        p1:id="@+id/toolbar"
        p1:layout_width="match_parent"
        p1:layout_height="56dp"
        p1:gravity="center">
        <TextView
            p1:id="@+id/tvToolBarTitle"
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:layout_gravity="start"
            p1:gravity="left"
            p1:text="FORGOT PASSWORD"
            p1:textColor="@android:color/darker_gray"
            p1:textColorHint="#FFFF"
            p1:textSize="10dp"
            p1:textStyle="bold" />
        <ImageView
            p1:id="@+id/tvToolBarLogo"
            p1:layout_width="56dp"
            p1:layout_height="wrap_content"
            p1:src="@drawable/cdsclogos"
            p1:layout_gravity="right"
            p1:layout_weight="0.20" />
    </LinearLayout>
    <ScrollView
        p1:layout_width="wrap_content"
        p1:layout_height="wrap_content">
        <RelativeLayout
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:focusable="false"
            p1:focusableInTouchMode="false">
            <EditText
                p1:id="@+id/email"
                p1:layout_width="match_parent"
                p1:layout_height="50dp"
                p1:layout_below="@+id/toolbar"
                p1:layout_marginTop="60dp"
                p1:textColor="@android:color/darker_gray"
                p1:background="@drawable/edits"
                p1:drawableEnd="@drawable/username"
                p1:drawableRight="@drawable/username"
                p1:hint="Client Number"
                p1:inputType="text"
                p1:padding="5dp"
                p1:textColorHint="@android:color/darker_gray" />
            <Button
                p1:id="@+id/btnLogin"
                p1:layout_width="match_parent"
                p1:layout_height="wrap_content"
                p1:layout_below="@+id/email"
                p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/ripples"
                p1:text="recover password"
                p1:textColor="#151B8D" />
            <Button
                p1:id="@+id/btnBack"
                p1:layout_width="match_parent"
                p1:layout_height="wrap_content"
                p1:layout_below="@+id/btnLogin"
                p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/ripples"
                p1:text="back"
                p1:textColor="#151B8D" />
            <LinearLayout
                p1:layout_width="match_parent"
                p1:layout_height="wrap_content"
                p1:layout_below="@+id/btnClear"
                p1:orientation="horizontal"
                p1:gravity="center"
                p1:minWidth="25px"
                p1:minHeight="25px" />
        </RelativeLayout>
    </ScrollView>
</RelativeLayout>