<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:card_view="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content">
    <android.support.v7.widget.CardView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        card_view:cardElevation="4dp"
        card_view:cardUseCompatPadding="true"
        card_view:cardCornerRadius="5dp">
        <TableLayout
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:stretchColumns="1">
            <TableRow>
                <ImageView
                    android:layout_width="150dp"
                    android:layout_height="150dp"
                    android:id="@+id/imageView"
                    android:gravity="left" />
                <TextView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:textColor="#228B22"
                    android:text="Caption"
                    android:id="@+id/textView"
                    android:textSize="6pt"
                    android:layout_gravity="center"
                    android:layout_marginLeft="4dp" />
            </TableRow>
            <TableRow>
                <TextView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:textColor="@android:color/darker_gray"
                    android:text="Caption"
                    android:id="@+id/textView2"
                    android:textSize="8pt"
                    android:layout_gravity="center"
                    android:layout_marginLeft="4dp" />
                <TextView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:textColor="#228B22"
                    android:text="Caption"
                    android:id="@+id/textView3"
                    android:textSize="6pt"
                    android:layout_gravity="center"
                    android:layout_marginLeft="4dp" />
            </TableRow>
        </TableLayout>
    </android.support.v7.widget.CardView>
</FrameLayout>