<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/colorPrimary"
    android:orientation="vertical">
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="match_parent"
        android:layout_height="56dp"
        android:gravity="center"
        android:weightSum="1">
        <TextView
            android:id="@+id/tvToolBarTitle"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_gravity="start"
            android:gravity="start"
            android:text="HOME"
            android:textColor="#151B8D"
            android:textColorHint="#FFFF"
            android:textSize="20dp"
            android:textStyle="bold" />
        <ImageView
            android:id="@+id/tvToolBarLogo"
            android:layout_width="129dp"
            android:layout_height="wrap_content"
            android:src="@drawable/cdsclogos"
            android:layout_gravity="end"
            android:gravity="start"
            android:textColor="@android:color/black"
            android:textColorHint="#FFFF"
            android:textSize="20dp"
            android:textStyle="bold"
            android:layout_weight="0.20" />
    </android.support.v7.widget.Toolbar>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_marginTop="@dimen/activity_horizontal_margin"
        android:layout_weight="1"
        android:orientation="horizontal">
        <LinearLayout
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_weight="1"
            android:gravity="center"
            android:orientation="vertical">
            <LinearLayout
                android:id="@+id/llTradingAccount"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:background="@drawable/circleshape2T"
                android:gravity="center"
                android:orientation="vertical">
                <ImageView
                    android:id="@+id/imageView12"
                    android:layout_width="30dp"
                    android:layout_height="30dp"
                    android:layout_gravity="center"
                    app:srcCompat="@drawable/accounts" />
                <TextView
                    android:textColor="@android:color/black"
                    android:id="@+id/name12"
                    android:layout_width="300dp"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center"
                    android:gravity="center"
                    android:paddingTop="@dimen/nav_header_vertical_spacing"
                    android:text="MY ACCOUNT"
                    android:textAppearance="@style/TextAppearance.AppCompat.Body1"
                    android:textSize="14pt" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_weight="1"
            android:gravity="center"
            android:orientation="vertical">
            <LinearLayout
                android:id="@+id/llPriceNotification"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:background="@drawable/circleshapeT"
                android:gravity="center"
                android:orientation="vertical">
                <ImageView
                    android:id="@+id/imageView"
                    android:layout_width="30dp"
                    android:layout_height="30dp"
                    android:layout_gravity="center"
                    app:srcCompat="@drawable/prices" />
                <TextView
                    android:textColor="@android:color/black"
                    android:id="@+id/name"
                    android:layout_width="300dp"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center"
                    android:gravity="center"
                    android:paddingTop="@dimen/nav_header_vertical_spacing"
                    android:text="PRICE LISTS"
                    android:textAppearance="@style/TextAppearance.AppCompat.Body1"
                    android:textSize="14pt" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:orientation="horizontal">
        <LinearLayout
            android:id="@+id/llTopGainers"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_weight="1"
            android:gravity="center"
            android:orientation="vertical">
            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:background="@drawable/circleshape4T"
                android:gravity="center"
                android:orientation="vertical">
                <ImageView
                    android:id="@+id/imageView1"
                    android:layout_width="30dp"
                    android:layout_height="30dp"
                    android:layout_gravity="center"
                    app:srcCompat="@drawable/upgainers" />
                <TextView
                    android:textColor="@android:color/black"
                    android:id="@+id/name1"
                    android:layout_width="300dp"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center"
                    android:gravity="center"
                    android:paddingTop="@dimen/nav_header_vertical_spacing"
                    android:text="TOP GAINERS"
                    android:textAppearance="@style/TextAppearance.AppCompat.Body1"
                    android:textSize="14pt" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:id="@+id/llTopLosers"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_weight="1"
            android:gravity="center"
            android:orientation="vertical">
            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:background="@drawable/circleshape3T"
                android:gravity="center"
                android:orientation="vertical">
                <ImageView
                    android:id="@+id/imageView2"
                    android:layout_width="30dp"
                    android:layout_height="30dp"
                    android:layout_gravity="center"
                    app:srcCompat="@drawable/down_losers" />
                <TextView
                    android:textColor="@android:color/black"
                    android:id="@+id/name2"
                    android:layout_width="300dp"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center"
                    android:gravity="center"
                    android:paddingTop="@dimen/nav_header_vertical_spacing"
                    android:text="TOP LOSERS"
                    android:textAppearance="@style/TextAppearance.AppCompat.Body1"
                    android:textSize="14pt" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:orientation="horizontal">
        <LinearLayout
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_weight="1"
            android:gravity="center"
            android:orientation="vertical">
            <LinearLayout
                android:id="@+id/llChangePassword"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:background="@drawable/circleshape6T"
                android:gravity="center"
                android:orientation="vertical">
                <ImageView
                    android:id="@+id/imageView22"
                    android:layout_width="30dp"
                    android:layout_height="30dp"
                    android:layout_gravity="center"
                    app:srcCompat="@drawable/marketwatch" />
                <TextView
                    android:id="@+id/name22"
                    android:layout_width="300dp"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center"
                    android:gravity="center"
                    android:paddingTop="@dimen/nav_header_vertical_spacing"
                    android:text="MARKET WATCH"
                    android:textAppearance="@style/TextAppearance.AppCompat.Body1"
                    android:textColor="@android:color/black"
                    android:textSize="14pt" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            android:id="@+id/llDeactivateAccount"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_gravity="center"
            android:layout_weight="1"
            android:gravity="center"
            android:orientation="vertical">
            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center"
                android:background="@drawable/circleshape5T"
                android:gravity="center"
                android:orientation="vertical">
                <ImageView
                    android:id="@+id/imageView122"
                    android:layout_width="30dp"
                    android:layout_height="30dp"
                    android:layout_gravity="center"
                    app:srcCompat="@drawable/news" />
                <TextView
                    android:id="@+id/name122"
                    android:layout_width="300dp"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center"
                    android:gravity="center"
                    android:paddingTop="@dimen/nav_header_vertical_spacing"
                    android:text="CDA"
                    android:textAppearance="@style/TextAppearance.AppCompat.Body1"
                    android:textColor="@android:color/black"
                    android:textSize="14pt" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:id="@+id/toolbar2"
        android:layout_width="match_parent"
        android:layout_height="56dp"
        android:gravity="center"
        android:weightSum="1">
        <ImageView
            android:id="@+id/tvToolBarLogo2"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:src="@drawable/samp"
            android:gravity="start"
            android:textColor="@android:color/black"
            android:textColorHint="#FFFF" />
    </LinearLayout>
</LinearLayout>