<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <android.support.v7.widget.Toolbar
        android:id="@+id/app_bar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="@color/colorPrimary">
        <TextView
            android:id="@+id/toolbar_title"
            style="@style/TextAppearance.AppCompat.Widget.ActionBar.Title"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="Reset Password"
            android:textColor="@android:color/white" />
    </android.support.v7.widget.Toolbar>
    <android.support.v7.widget.CardView xmlns:card_view="http://schemas.android.com/apk/res-auto"
        android:id="@+id/card_view_reg"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/app_bar"
        android:layout_centerInParent="true"
        android:layout_gravity="center"
        android:layout_margin="@dimen/activity_horizontal_margin"
        card_view:cardCornerRadius="4dp">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_margin="@dimen/activity_horizontal_margin">
            <android.support.design.widget.TextInputLayout
                android:id="@+id/input_layout_surname"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">
                <EditText
                    android:id="@+id/emailAddress"
                    android:layout_width="match_parent"
                    android:layout_height="40dp"
                    android:layout_marginBottom="@dimen/activity_horizontal_margin"
                    android:hint="Enter Email Address"
                    android:inputType="textEmailAddress" />
            </android.support.design.widget.TextInputLayout>
            <android.support.design.widget.TextInputLayout
                android:id="@+id/input_layout_id"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/input_layout_surname">
                <EditText
                    android:id="@+id/nationalId"
                    android:layout_width="match_parent"
                    android:layout_height="40dp"
                    android:layout_below="@+id/old_password"
                    android:layout_marginBottom="@dimen/activity_horizontal_margin"
                    android:hint="Enter National Id" />
            </android.support.design.widget.TextInputLayout>
            <android.support.design.widget.TextInputLayout
                android:id="@+id/input_layout_new_pass"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/input_layout_id">
                <EditText
                    android:id="@+id/new_pass"
                    android:layout_width="match_parent"
					android:background="@drawable/edits" 
				    android:layout_height="40dp"
                    android:layout_below="@+id/new_password"
                    android:layout_marginBottom="@dimen/activity_horizontal_margin"
                    android:hint="Enter Password"
                    android:inputType="textPassword" />
            </android.support.design.widget.TextInputLayout>
            <android.support.design.widget.TextInputLayout
                android:id="@+id/input_layout_con_pass"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/input_layout_new_pass">
                <EditText
                    android:id="@+id/con_pass"
                    android:layout_width="match_parent"
					      android:background="@drawable/edits" 
				                    android:layout_height="40dp"
                    android:layout_below="@+id/new_password"
                    android:layout_marginBottom="@dimen/activity_horizontal_margin"
                    android:hint="Confirm New Password"
                    android:inputType="textPassword" />
            </android.support.design.widget.TextInputLayout>
            <Button
                android:id="@+id/sign_up"
                style="?android:attr/borderlessButtonStyle"
				    android:background="@drawable/ripples" 
				android:textColor="#151B8D"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/input_layout_con_pass"
                android:text="RESET PASSWORD" />
        </RelativeLayout>
    </android.support.v7.widget.CardView>
</RelativeLayout>