<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:background="#FFFFFF"
    p1:focusable="true"
    p1:focusableInTouchMode="true"
    p1:paddingBottom="@dimen/activity_vertical_margin"
    p1:paddingLeft="@dimen/activity_horizontal_margin"
    p1:paddingRight="@dimen/activity_horizontal_margin"
    p1:paddingTop="@dimen/activity_vertical_margin"
    p1:id="@+id/relativeLayout1">
    <ScrollView
        p1:layout_width="wrap_content"
        p1:layout_height="wrap_content">
        <RelativeLayout
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:focusable="false"
            p1:focusableInTouchMode="false">
            <TextView
                p1:text="Do yuu wish to deactivate the account"
                p1:textAppearance="?android:attr/textAppearanceLarge"
                p1:layout_width="385.0dp"
                p1:layout_height="wrap_content"
                p1:id="@+id/textView1"
                p1:textColor="@android:color/darker_gray" />
            <RadioGroup
                p1:minWidth="25px"
                p1:minHeight="25px"
                p1:layout_width="match_parent"
                p1:layout_height="wrap_content"
                p1:layout_below="@+id/textView1"
                p1:id="@+id/radioGroup4"
                p1:fitsSystemWindows="true"
                p1:orientation="horizontal"
                p1:background="@android:color/background_light">
                <RadioButton
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:checked="true"
                    p1:text="YES"
                    p1:id="@+id/PMEC"
                    p1:textColor="@android:color/background_dark" />
                <RadioButton
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:text="NO"
                    p1:id="@+id/Bankers"
                    p1:textColor="@android:color/background_dark" />
            </RadioGroup>
            <Button
                p1:id="@+id/btnLogin"
                p1:layout_width="match_parent"
                p1:layout_height="38.5dp"
                p1:layout_below="@+id/radioGroup4"
                p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                p1:layout_marginTop="8dp"
                p1:background="#25252f"
                p1:text="DEACTIVATE"
                p1:textColor="#FFFFFF" />
        </RelativeLayout>
    </ScrollView>
</RelativeLayout>