<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/scrollView1"
    p1:background="@android:color/background_light"
    p1:scrollbars="horizontal"
    p1:animationCache="true">
    <LinearLayout
        p1:orientation="vertical"
        p1:layout_width="match_parent"
        p1:layout_height="match_parent"
        p1:id="@+id/linearLayout1"
        p1:background="@android:color/background_light">
        <TextView
            p1:text="Account Enquiry Form"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:layout_width="match_parent"
            p1:layout_height="52.5dp"
            p1:id="@+id/textView16"
            p1:textColor="@android:color/darker_gray"
            p1:textSize="28dp" />
        <TextView
            p1:text="Enquiry"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:layout_width="match_parent"
            p1:layout_height="28.0dp"
            p1:id="@+id/textView11"
            p1:textColor="@android:color/background_dark" />
        <EditText
            p1:inputType="textMultiLine"
            p1:layout_width="match_parent"
            p1:layout_height="100.5dp"
            p1:id="@+id/description"
            p1:hint="Enter Enquiry"
            p1:textColorHint="@android:color/darker_gray" />
        <TextView
            p1:text="CSD/ATP NUMBER"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:layout_width="match_parent"
            p1:layout_height="23.0dp"
            p1:id="@+id/textView4"
            p1:textColor="@android:color/background_dark" />
        <EditText
            p1:inputType="phone"
            p1:layout_width="match_parent"
            p1:layout_height="46.5dp"
            p1:id="@+id/csd"
            p1:textColor="@android:color/background_dark"
            p1:hint="ATP/CSD NUMBER.............................................................."
            p1:textColorHint="@android:color/darker_gray" />
        <Button
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:text="Submit Enquiry"
            p1:id="@+id/button1"
            p1:layout_alignParentLeft="true"
            p1:layout_marginTop="8dp"
            p1:background="#25252f"
            p1:layout_alignParentRight="true"
            p1:textColor="#FFFFFF"
            p1:longClickable="true"
            p1:clickable="true" />
    </LinearLayout>
</ScrollView>