<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minHeight="25px"
    android:background="@android:color/background_light">
    <TextView
        android:text="TICKET REFERENCE"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:layout_width="match_parent"
        android:layout_height="34.0dp"
        android:id="@+id/textView1"
        android:textColor="@android:color/darker_gray"
        android:background="@android:color/background_light"
        android:textSize="20dp" />
    <EditText
        android:layout_width="match_parent"
        android:layout_height="50.0dp"
        android:id="@+id/ticketref"
        android:hint="Enter Ticket Reference"
        android:textColor="@android:color/background_dark"
        android:textColorHint="@android:color/darker_gray"
        android:background="@android:color/background_light" />
    <RadioGroup
        android:layout_width="match_parent"
        android:layout_height="30.0dp"
        android:id="@+id/radioGroup1"
        android:orientation="horizontal"
        android:background="#25252f">
        <RadioButton
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="Inbox"
            android:id="@+id/radioButton1"
            android:textColor="@android:color/background_light" />
        <RadioButton
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="Sent"
            android:id="@+id/radioButton2"
            android:textColor="@android:color/background_light" />
    </RadioGroup>
    <Button
        android:text="View"
        android:layout_width="match_parent"
        android:layout_height="41.0dp"
        android:id="@+id/button1"
        android:background="#25252f"
        android:textColor="@android:color/background_light" />
    <Button
        android:text="Ticket Updates"
        android:layout_width="match_parent"
        android:layout_height="41.0dp"
        android:id="@+id/button2"
        android:background="#25252f"
        android:textColor="@android:color/background_light" />
    <ListView xmlns:tools="http://schemas.android.com/tools"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/listView1"
        android:choiceMode="singleChoice"
        android:background="@android:color/background_light"
        android:divider="@android:color/background_dark"
        android:listSelector="@android:color/holo_blue_dark"
        android:textAlignment="textStart"
        tools:listitem="@android:layout/simple_list_item_1"
        android:layoutMode="clipBounds" />
</LinearLayout>