<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:background="#FFFFFF"
    p1:focusable="true"
    p1:focusableInTouchMode="true"
    p1:paddingBottom="@dimen/activity_vertical_margin"
    p1:paddingLeft="@dimen/activity_horizontal_margin"
    p1:paddingRight="@dimen/activity_horizontal_margin"
    p1:paddingTop="@dimen/activity_vertical_margin"
    p1:id="@+id/relativeLayout1">
    <ScrollView
        p1:layout_width="wrap_content"
        p1:layout_height="wrap_content">
        <RelativeLayout
            p1:layout_width="wrap_content"
            p1:layout_height="wrap_content"
            p1:focusable="false"
            p1:focusableInTouchMode="false">
            <TextView
                p1:text="CHANGE PASSWORD"
                p1:textAppearance="?android:attr/textAppearanceLarge"
                p1:layout_width="385.0dp"
                p1:layout_height="wrap_content"
                p1:id="@+id/textView1"
                p1:textColor="@android:color/darker_gray" />
            <EditText
                p1:id="@+id/username"
                p1:layout_width="match_parent"
                p1:layout_height="50dp"
                p1:layout_below="@+id/textView1"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/edittext"
                p1:drawableEnd="@drawable/username"
                p1:drawableRight="@drawable/username"
                p1:hint="Username"
                p1:inputType="text"
                p1:padding="5dp"
                p1:textColorHint="@android:color/darker_gray"
                p1:enabled="False" />
            <EditText
                p1:id="@+id/password"
                p1:layout_width="match_parent"
                p1:layout_height="50dp"
                p1:layout_below="@+id/username"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/edittext"
                p1:drawableEnd="@drawable/password"
                p1:drawableRight="@drawable/password"
                p1:hint="Password"
                p1:inputType="textPassword"
                p1:padding="5dp"
                p1:textColorHint="@android:color/darker_gray" />
            <EditText
                p1:id="@+id/confirmpassword"
                p1:layout_width="match_parent"
                p1:layout_height="50dp"
                p1:layout_below="@+id/password"
                p1:layout_marginTop="8dp"
                p1:background="@drawable/edittext"
                p1:drawableEnd="@drawable/password"
                p1:drawableRight="@drawable/password"
                p1:hint="Confirm Password"
                p1:inputType="textPassword"
                p1:padding="5dp"
                p1:textColorHint="@android:color/darker_gray" />
            <Button
                p1:id="@+id/btnLogin"
                p1:layout_width="match_parent"
                p1:layout_height="38.5dp"
                p1:layout_below="@+id/confirmpassword"
                p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                p1:layout_marginTop="8dp"
                p1:background="#25252f"
                p1:text="SUBMIT"
                p1:textColor="@android:color/background_light" />
            <Button
                p1:id="@+id/btnClear"
                p1:layout_width="match_parent"
                p1:layout_height="36.5dp"
                p1:layout_below="@+id/btnLogin"
                p1:layout_marginBottom="@dimen/activity_horizontal_margin"
                p1:layout_marginTop="8dp"
                p1:background="#25252f"
                p1:text="CLEAR"
                p1:textColor="@android:color/background_light" />
        </RelativeLayout>
    </ScrollView>
</RelativeLayout>