<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context="zw.co.escrow.ctrade.Payment">
    <android.support.v7.widget.CardView xmlns:card_view="http://schemas.android.com/apk/res-auto"
        android:id="@+id/card_view"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_centerInParent="true"
        android:layout_gravity="center"
        android:layout_margin="@dimen/activity_horizontal_margin"
        card_view:cardCornerRadius="4dp">
        <RelativeLayout
            android:id="@+id/rlLogin"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginTop="@dimen/activity_horizontal_margin"
            android:padding="@dimen/activity_horizontal_margin">
            <TextView
                android:id="@+id/tt"
                android:textColor="@android:color/background_dark"
                android:text="Please select a payment method below"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/rlLogin" />
            <Button
                android:id="@+id/btn1"
                android:background="@drawable/icons8paypal104"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/tt" />
            <Button
                android:id="@+id/btn2"
                android:background="@drawable/icons8mastercard"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/btn1" />
            <Button
                android:id="@+id/btn3"
                android:background="@drawable/icons8visa104"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/btn2" />
        </RelativeLayout>
    </android.support.v7.widget.CardView>
</RelativeLayout>