<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/scrollView1"
    p1:background="@android:color/background_light"
    p1:scrollbars="horizontal"
    p1:animationCache="true">
    <LinearLayout
        p1:orientation="vertical"
        p1:layout_width="match_parent"
        p1:layout_height="match_parent"
        p1:id="@+id/linearLayout1"
        p1:background="@android:color/background_light">
        <WebView
            p1:layout_width="fill_parent"
            p1:layout_height="1105.0dp"
            p1:id="@+id/LocalWebView"
            p1:isScrollContainer="true"
            p1:overScrollMode="ifContentScrolls" />
        <Button
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:text="Back To List"
            p1:id="@+id/wbbutton"
            p1:layout_alignParentLeft="true"
            p1:layout_marginTop="8dp"
            p1:background="#25252f"
            p1:layout_alignParentRight="true"
            p1:textColor="#FFFFFF"
            p1:longClickable="true"
            p1:clickable="true" />
    </LinearLayout>
</ScrollView>