<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:p1="http://schemas.android.com/apk/res/android"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/scrollView1"
    p1:background="@android:color/background_light"
    p1:scrollbars="horizontal"
    p1:animationCache="true">
    <LinearLayout
        p1:orientation="vertical"
        p1:layout_width="match_parent"
        p1:layout_height="match_parent"
        p1:id="@+id/linearLayout1"
        p1:background="@android:color/background_light">
        <TextView
            p1:text="SUBSCRIPTIONS"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:layout_width="match_parent"
            p1:layout_height="52.5dp"
            p1:id="@+id/textView16"
            p1:textColor="@android:color/darker_gray"
            p1:textSize="48px" />
        <Spinner
            p1:layout_width="match_parent"
            p1:layout_height="50.0dp"
            p1:id="@+id/productss"
            p1:background="@drawable/dropbackground" />
        <Button
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:text="SUBSCRIBE"
            p1:id="@+id/button1"
            p1:layout_alignParentLeft="true"
            p1:layout_marginTop="8dp"
            p1:background="@drawable/button_selector"
            p1:layout_alignParentRight="true"
            p1:textColor="@android:color/background_dark"
            p1:longClickable="true"
            p1:clickable="true" />
        <TextView
            p1:text="Products Subscribed"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:id="@+id/textView14"
            p1:textColor="@android:color/background_dark" />
        <android.support.v7.widget.RecyclerView
            p1:id="@+id/recyclerView"
            p1:scrollbars="vertical"
            p1:layout_width="fill_parent"
            p1:layout_marginTop="10dp"
            p1:layout_height="fill_parent"
            p1:background="@android:color/background_light"
            p1:foreground="@android:color/background_dark" />
    </LinearLayout>
</ScrollView>